[user]
	name = Godinez Pablo
	email = pablo.godinez@zayon.eu
	signingkey = 1DBA1802D49A7278
[alias]
	a  = add
	ap = add -p
	br = branch
	ca = commit --amend
	can = commit --verbose --amend --no-edit
	ci = commit
	co = "!f() { echo \"git checkout is obsolete, use switch or restore\" && exit 1; }; f"
	cop = "!f() { echo \"git checkout is obsolete, use switch or restore\" && exit 1; }; f" 
	cp = cherry-pick
	d = diff
	dm = diff --patience origin/main
	f = fetch
	fa = fetch --all
	fap = fetch --all -p
	fixup = commit --fixup
	l = log
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
    new = "!f() { git fetch && git switch -c $1 origin/main; }; f"
	p = pull
	pf = push --force-with-lease
	ps = push
	reb = rebase
	ra = rebase --abort
    res = restore
    resp = restore -p
	rc = rebase --continue
	st = status
    sw = switch
	wip = commit -m "🚧"
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[rebase]
	autoStash = true
	autosquash = true
	instructionFormat = [%an] %s
[core]
	fileMode = false
	#editor = vim +2 -c 'startinsert'
	editor = micro +2
	autocrlf = false
[diff]
	mnemonicPrefix = true
	renames = true
	wordRegex = .
[commit]
	template = ~/.config/git/commit-msg-template
	gpgsign = true
[push]
	default = current
	autoSetupRemote = true
[pull]
	rebase = true
[credential]
	helper = libsecret


[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    syntax-theme = Solarized (light)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[init]
	defaultBranch = main
