export BISMUTH_INVOKE="qdbus org.kde.kglobalaccel /component/bismuth org.kde.kglobalaccel.Component.invokeShortcut"
export KWIN_INVOKE="qdbus org.kde.kglobalaccel /component/kwin org.kde.kglobalaccel.Component.invokeShortcut"
export SXHKD_SHELL="/bin/dash"

