[user]
	name = Godinez Pablo
	email = pablo.godinez@zayon.eu
[alias]
	a  = add
	br = branch
	ca = commit --amend
	can = commit --verbose --amend --no-edit
	ci = commit
	co = checkout
	d = diff
	dm = diff --patience master
	f = fetch
	fa = fetch --all
	fap = fetch --all -p
	l = log
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	p = pull
	pf = push --force-with-lease
	ps = push
	st = status
[color]
	ui = auto
[rebase]
	autoStash = true
[core]
	fileMode = false
	editor = vim +2 -c 'startinsert'
[merge]
	tool = meld
[diff]
	mnemonicPrefix = true
	renames = true
	wordRegex = .
[commit]
	template = /home/pablo/dotfiles/git/commit-msg-template
