[user]
	name = Godinez Pablo
	email = pablo.godinez@zayon.eu
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	a  = add
	ca = commit --amend
	can = commit --verbose --amend --no-edit
	d = diff
	l = log
	p = pull
	ps = push
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	f = fetch
	fa = fetch
[color]
	ui = auto
[rebase]
	autoStash = true
[core]
	fileMode = false
	editor = vim
[merge]
	tool = meld
[diff]
	mnemonicPrefix = true
	renames = true
	wordRegex = .
