[user]
	name = Godinez Pablo
	email = pablo.godinez@zayon.eu
[alias]
	a  = add
	ap = add -p
	br = branch
	ca = commit --amend
	can = commit --verbose --amend --no-edit
	ci = commit
	co = checkout
	cop = checkout -p
	cp = cherry-pick
	d = diff
	dm = diff --patience origin/master
	f = fetch
	fa = fetch --all
	fap = fetch --all -p
	fixup = commit --fixup
	l = log
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	p = pull
	pf = push --force-with-lease
	ps = push
	reb = rebase
	ra = rebase --abort
	rc = rebase --continue
	st = status
	wip = commit -m "WIP"
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[rebase]
	autoStash = true
	autosquash = true
	instructionFormat = [%an] %s
[core]
	fileMode = false
	editor = vim +2 -c 'startinsert'
[merge]
	tool = meld
[diff]
	mnemonicPrefix = true
	renames = true
	wordRegex = .
[commit]
	template = ~/.config/git/commit-msg-template
[push]
	default = current
[sequence]
	editor = interactive-rebase-tool
