*
!/.config/pcmanfm
!/.config/polybar
!/.config/rofi
!/.config/termite
!/.config/.mozilla
!/.config/git
!/.config/fish/custom
!/.config/fish/config.fish
!/.config/fish/fishfile
!/.config/i3
!/.config/Code/User/settings.json
!/.config/watson/config
!bin
!.gitconfig
!README.md
!.profile
!.gitignore
