configuration {
	modi: "combi";
	show-icons: true;
	terminal: "termite";
	ssh-command: "{terminal} -e "{ssh-client} {host}"";
	combi-modi: "window,drun,ssh";
	window-format: "[{w}] {c} {t}";
	theme: "~/.config/rofi/default.rasi";
	display-window: "win";
	display-drun: "run";
}
