[Unit]
Description=A daemon to suspend your server in case of inactivity
After=network.target

[Service]
ExecStart=/usr/bin/autosuspend.py -c /etc/autosuspend.conf

[Install]
WantedBy=multi-user.target
