configuration {
	modi: "combi,window";
	show-icons: true;
	terminal: "alacritty";
	ssh-command: "{terminal} -e "{ssh-client} {host}"";
	combi-modi: "window,drun,ssh";
	window-format: "[{w}] {c} {t}";
	display-window: "win";
	display-drun: "run";
}

@theme "~/.config/rofi/default.rasi"
