[Desktop Entry]
Name=Syncthing Tray
Exec="/home/zayon/.cache/yay/syncthingtray/src/syncthingtray-1.4.5/syncthingwidgets/syncthingwidgets_wizard_tests" qt-widgets-gui --single-instance
Comment=Tray application for Syncthing
Icon=syncthingtray
Type=Application
Terminal=false
X-GNOME-Autostart-Delay=0
X-GNOME-Autostart-enabled=true